# Joining Data with pandas

Being able to combine and work with multiple datasets is an essential skill for any aspiring Data Scientist. Pandas is a crucial cornerstone of the Python data science ecosystem, with Stack Overflow recording 5 million views for pandas questions. Learn to handle multiple DataFrames by combining, organizing, joining, and reshaping them using pandas. You'll work with datasets from the World Bank and the City Of Chicago. You will finish the course with a solid skillset for data-joining in pandas.

## Data Merging Basics

Learn how you can merge disparate data using inner joins. By combining information from multiple sources you’ll uncover compelling insights that may have previously been hidden. You’ll also learn how the relationship between those sources, such as one-to-one or one-to-many, can affect your result.

### Your first inner join
You have been tasked with figuring out what the most popular types of fuel used in Chicago taxis are. To complete the analysis, you need to merge the taxi_owners and taxi_veh tables together on the vid column. You can then use the merged table along with the .value_counts() method to find the most common fuel_type.

In [4]:
# import pandas
import pandas as pd

# read pickle files
taxi_owners = pd.read_pickle("taxi_owners.p")
taxi_veh = pd.read_pickle("taxi_vehicles.p")
print(taxi_owners.head())
print(taxi_veh.head())

# Merge the taxi_owners and taxi_veh tables
taxi_own_veh = taxi_owners.merge(taxi_veh, on ='vid')

# Print the column names of the taxi_own_veh
print(taxi_own_veh.head())
print(taxi_own_veh.columns)

     rid   vid           owner                 address    zip
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618
    vid    make   model  year fuel_type                owner
0  2767  TOYOTA   CAMRY  2013    HYBRID       SEYED M. BADRI
1  1411  TOYOTA    RAV4  2017    HYBRID          DESZY CORP.
2  6500  NISSAN  SENTRA  2019  GASOLINE       AGAPH CAB CORP
3  2746  TOYOTA   CAMRY  2013    HYBRID  MIDWEST CAB CO, INC
4  5922  TOYOTA   CAMRY  2013    HYBRID       SUMETTI CAB CO
     rid   vid         owner_x                 address    zip    make   model  \
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630  NISSAN  ALTIMA
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659   HONDA     CRV
2  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618  TOYOTA  SIENNA
3  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645  TOYOTA   CAMRY
4  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618  TOYOTA  SIENNA

   year fuel_type         owner_y
0  2011    HYBRID  AGEAN TAXI LLC
1  2014  GASOLINE    MANGIB CORP.
2  2015  GASOLINE   FUNRIDE, INC.
3  2014    HYBRID    ALQUSH CORP.
4  2015  GASOLINE  EUNIFFORD INC.
Index(['rid', 'vid', 'owner_x', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_y'],
      dtype='object')

In [5]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the table and the column names of taxi_own_veh
print(taxi_own_veh)
print(taxi_own_veh.columns)

        rid   vid         owner_own                 address    zip    make  \
0     T6285  6285    AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630  NISSAN
1     T4862  4862      MANGIB CORP.  5717 N. WASHTENAW AVE.  60659   HONDA
2     T1495  1495     FUNRIDE, INC.     3351 W. ADDISON ST.  60618  TOYOTA
3     T4231  4231      ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645  TOYOTA
4     T5971  5971    EUNIFFORD INC.     3351 W. ADDISON ST.  60618  TOYOTA
...     ...   ...               ...                     ...    ...     ...
3514  T4453  4453   IMAGIN CAB CORP     3351 W. ADDISON ST.  60618    FORD
3515   T121   121  TRIBECA CAB CORP     4536 N. ELSTON AVE.  60630    FORD
3516  T3465  3465  AMIR EXPRESS INC     3351 W. ADDISON ST.  60618  TOYOTA
3517  T1962  1962  KARY CAB COMPANY     4707 N. KENTON AVE.  60630  TOYOTA
3518  T1031  1031       NECT 42 LLC    6500 N. WESTERN AVE.  60645    FORD

       model  year fuel_type         owner_veh
0     ALTIMA  2011    HYBRID    AGEAN TAXI LLC
1        CRV  2014  GASOLINE      MANGIB CORP.
2     SIENNA  2015  GASOLINE     FUNRIDE, INC.
3      CAMRY  2014    HYBRID      ALQUSH CORP.
4     SIENNA  2015  GASOLINE    EUNIFFORD INC.
...      ...   ...       ...               ...
3514  ESCAPE  2010    HYBRID   IMAGIN CAB CORP
3515   C-MAX  2014    HYBRID  TRIBECA CAB CORP
3516   CAMRY  2014    HYBRID  AMIR EXPRESS INC
3517   CAMRY  2014    HYBRID  KARY CAB COMPANY
3518  FUSION  2014    HYBRID       NECT 42 LLC

[3519 rows x 10 columns]
Index(['rid', 'vid', 'owner_own', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_veh'],
      dtype='object')

In [6]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())

HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type, dtype: int64

### Inner joins and number of rows returned
All of the merges you have studied to this point are called inner joins. It is necessary to understand that inner joins only return the rows with matching values in both tables. You will explore this further by reviewing the merge between the wards and census tables. You will examine how this affects the merge between them.

For this exercise, it is important to know that the wards and census tables start with 50 rows.

In [8]:
# read pickle files
wards = pd.read_pickle("ward.p")
census = pd.read_pickle("census.p")
print(ward.head())
print(census.head())

# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on ='ward')

# Print the table and shape of wards_census
print(wards_census.head())
print(wards_census.shape)

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649
  ward  pop_2000  pop_2010 change                                  address  \
0    1     52951     56149     6%              2765 WEST SAINT MARY STREET
1    2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2    3     40385     53039    31%                      17 EAST 38TH STREET
3    4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4    5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

     zip
0  60647
1  60622
2  60653
3  60653
4  60637
  ward            alderman                        address_x  zip_x  pop_2000  \
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647     52951
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622     54361
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609     40385
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616     51953
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649     55302

   pop_2010 change                                address_y  zip_y
0     56149     6%              2765 WEST SAINT MARY STREET  60647
1     55805     3%                 WM WASTE MANAGEMENT 1500  60622
2     53039    31%                      17 EAST 38TH STREET  60653
3     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL  60653
4     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE  60637
(50, 9)

In [10]:
# Change '1' to None in `ward` col
census.loc[census['ward'] == '1', 'ward'] = None

# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on='ward')

# Print the shape of wards_census
print(wards_census.head())
print(wards_census.shape)

  ward            alderman                         address_x  zip_x  pop_2000  \
0    2       Brian Hopkins        1400 NORTH  ASHLAND AVENUE  60622     54361
1    3          Pat Dowell           5046 SOUTH STATE STREET  60609     40385
2    4    William D. Burns   435 EAST 35TH STREET, 1ST FLOOR  60616     51953
3    5  Leslie A. Hairston             2325 EAST 71ST STREET  60649     55302
4    6  Roderick T. Sawyer  8001 S. MARTIN LUTHER KING DRIVE  60619     54989

   pop_2010 change                                address_y  zip_y
0     55805     3%                 WM WASTE MANAGEMENT 1500  60622
1     53039    31%                      17 EAST 38TH STREET  60653
2     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL  60653
3     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE  60637
4     52341    -5%                     150 WEST 74TH STREET  60636
(49, 9)

### One-to-many merge
A business may have one or multiple owners. In this exercise, you will continue to gain experience with one-to-many merges by merging a table of business owners, called biz_owners, to the licenses table. Recall from the video lesson, with a one-to-many relationship, a row in the left table may be repeated if it is related to multiple rows in the right table. In this lesson, you will explore this further by finding out what is the most common business owner title. (i.e., secretary, CEO, or vice president).

In [13]:
# read pickle files
licenses = pd.read_pickle("licenses.p")
biz_owners = pd.read_pickle("business_owners.p")
print(licenses.head())
print(biz_owners.head())

# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on ='account')

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})

# Sort the counted_df in desending order
sorted_df = counted_df.sort_values(by ='account', ascending = False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

  account ward  aid                   business               address    zip
0  307071    3  743       REGGIE'S BAR & GRILL       2105 S STATE ST  60616
1      10   10  829                 HONEYBEERS   13200 S HOUSTON AVE  60633
2   10002   14  775                CELINA DELI     5089 S ARCHER AVE  60632
3   10005   12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST  60609
4   10044   44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE  60613
  account first_name  last_name      title
0      10      PEARL    SHERMAN  PRESIDENT
1      10      PEARL    SHERMAN  SECRETARY
2   10002     WALTER     MROZEK    PARTNER
3   10002     CELINA     BYRDAK    PARTNER
4   10005      IRENE  ROSENFELD  PRESIDENT
                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

### Total riders in a month
Your goal is to find the total number of rides provided to passengers passing through the Wilson station (station_name == 'Wilson') when riding Chicago's public transportation system on weekdays (day_type == 'Weekday') in July (month == 7). Luckily, Chicago provides this detailed data, but it is in three different tables. You will work on merging these tables together to answer the question.

In [15]:
# read pickle files
cal = pd.read_pickle("cta_calendar.p")
ridership = pd.read_pickle("cta_ridership.p")
print(cal.head())
print(ridership.head())

# Merge the ridership and cal tables
ridership_cal = ridership.merge(cal, on = ['year', 'month', 'day'])
print(ridership_cal.head())

   year  month  day        day_type
0  2019      1    1  Sunday/Holiday
1  2019      1    2         Weekday
2  2019      1    3         Weekday
3  2019      1    4         Weekday
4  2019      1    5        Saturday
  station_id  year  month  day  rides
0      40010  2019      1    1    576
1      40010  2019      1    2   1457
2      40010  2019      1    3   1543
3      40010  2019      1    4   1621
4      40010  2019      1    5    719
  station_id  year  month  day  rides        day_type
0      40010  2019      1    1    576  Sunday/Holiday
1      40080  2019      1    1   1839  Sunday/Holiday
2      40770  2019      1    1   2724  Sunday/Holiday
3      40120  2019      1    1    754  Sunday/Holiday
4      40540  2019      1    1   2175  Sunday/Holiday

### Three table merge
To solidify the concept of a three DataFrame merge, practice another exercise. A reasonable extension of our review of Chicago business data would include looking at demographics information about the neighborhoods where the businesses are. A table with the median income by zip code has been provided to you. You will merge the licenses and wards tables with this new income-by-zip-code table called zip_demo.

In [19]:
# read pickle files
zip_demo = pd.read_pickle("zip_demo.p")

# Merge licenses and zip_demo, on zip; and merge the wards on ward
licenses_zip_ward = licenses.merge(zip_demo, on = 'zip').merge(wards, on = 'ward')

# Print the results by alderman and show median income
print(licenses_zip_ward.groupby(by = 'alderman').agg({'income':'median'}))

                           income
alderman
Ameya Pawar                 66246
Anthony A. Beale            38206
Anthony V. Napolitano       82226
Ariel E. Reyboras           41307
Brendan Reilly             110215
Brian Hopkins               87143
Carlos Ramirez-Rosa         66246
Carrie M. Austin            38206
Chris Taliaferro            55566
Daniel "Danny" Solis        41226
David H. Moore              33304
Deborah Mell                66246
Debra L. Silverstein        50554
Derrick G. Curtis           65770
Edward M. Burke             42335
Emma M. Mitts               36283
George Cardenas             33959
Gilbert Villegas            41307
Gregory I. Mitchell         24941
Harry Osterman              45442
Howard B. Brookins, Jr.     33304
James Cappleman             79565
Jason C. Ervin              41226
Joe Moore                   39163
John S. Arena               70122
Leslie A. Hairston          28024
Margaret Laurino            70122
Marty Quinn                 67045
Matthew J. O'Shea           59488
Michael R. Zalewski         42335
Michael Scott, Jr.          31445
Michelle A. Harris          32558
Michelle Smith             100116
Milagros "Milly" Santiago   41307
Nicholas Sposato            62223
Pat Dowell                  46340
Patrick Daley Thompson      41226
Patrick J. O'Connor         50554
Proco "Joe" Moreno          87143
Raymond A. Lopez            33959
Ricardo Munoz               31445
Roberto Maldonado           68223
Roderick T. Sawyer          32558
Scott Waguespack            68223
Susan Sadlowski Garza       38417
Tom Tunney                  88708
Toni L. Foulkes             27573
Walter Burnett, Jr.         87143
William D. Burns           107811
Willie B. Cochran           28024

### One-to-many merge with multiple tables
In this exercise, assume that you are looking to start a business in the city of Chicago. Your perfect idea is to start a company that uses goats to mow the lawn for other businesses. However, you have to choose a location in the city to put your goat farm. You need a location with a great deal of space and relatively few businesses and people around to avoid complaints about the smell. You will need to merge three tables to help you choose your location. The land_use table has info on the percentage of vacant land by city ward. The census table has population by ward, and the licenses table lists businesses by ward.

In [21]:
# read pickle files
land_use = pd.read_pickle("land_use.p")

# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on = 'ward').merge(licenses, on = 'ward', suffixes = ('_cen', '_lic'))

print(land_cen_lic.head())

  ward  residential  commercial  industrial  vacant  other  pop_2000  \
0    2           31          11           6       2     50     54361
1    2           31          11           6       2     50     54361
2    2           31          11           6       2     50     54361
3    2           31          11           6       2     50     54361
4    2           31          11           6       2     50     54361

   pop_2010 change               address_cen zip_cen account  aid  \
0     55805     3%  WM WASTE MANAGEMENT 1500   60622   10213  NaN
1     55805     3%  WM WASTE MANAGEMENT 1500   60622     106  638
2     55805     3%  WM WASTE MANAGEMENT 1500   60622   10767  NaN
3     55805     3%  WM WASTE MANAGEMENT 1500   60622   11474  784
4     55805     3%  WM WASTE MANAGEMENT 1500   60622   12870  NaN

                         business                    address_lic zip_lic
0              HOG HEAD MCDUNNA'S  1503-1507 W FULLERTON AVE 1ST   60614
1                       ZAVEN INC          260 E CHESTNUT ST 1ST   60611
2                            CAHG        211 E CHICAGO AVE  1600   60611
3                    THE FRONTIER           1072 N MILWAUKEE AVE   60642
4  DAY BY DAY CALENDAR CO. # 4223      835 N MICHIGAN AVE 4 5071   60611

In [23]:
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward').merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'], as_index=False).agg({'account':'count'})

print(pop_vac_lic.head())

  ward  pop_2010  vacant  account
0   10     51535      14      130
1   11     51497       5      201
2   12     52235       4      255
3   13     53722       1      101
4   14     54031       3      202

In [24]:
# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(by = ['vacant', 'account', 'pop_2010'], 
                                             ascending= [False, True, True])

# Print the top few rows of sorted_pop_vac_lic
print(sorted_pop_vac_lic.head())

   ward  pop_2010  vacant  account
46    7     51581      19       80
11   20     52372      15      123
0    10     51535      14      130
15   24     54909      13       98
6    16     51954      13      156